.navbar {
  padding: 5px 20px;
}
.navbar-light .navbar-brand {
  margin-left: 30px;
  font-weight: bolder;
  color: white;
}
/* NAVBAR */
.form-container {
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.623);
  max-width: 100%;
  margin-bottom: 40px;
}
.form {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.form .form-group {
  padding: 10px;
}
.form .form-group #Title {
}
.form .form-group Description {
}
.form .form-group:nth-child(2) {
  width: 50%;
}
.row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.row .card {
  max-width: 270px;
  margin: 10px 15px;
}
.Done {
  display: none;
}
.alert {
  display: none;
}
/* cards */
.row .card {
  width: 350px;
}
.row .card .card-body {
  padding: 0;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.658);
}
.row .card .card-body .card-title {
  font-size: 2rem;
  text-transform: capitalize;
  background-color: rgba(48, 46, 46, 0.836);
  padding: 5px 7px;
  color: white;
  margin-bottom: 5px;
}
.row .card .card-body .card-text {
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: 1px;
  padding: 0 7px;
}
.btn {
  padding: 0.375rem 0.65rem;
  border-radius: 0.35rem;
  margin: 4px 4px 10px 7px;
}
/* footer */

footer {
  padding: 15px 30px;
  position: absolute;
  bottom: 0;
  width: 100%;
}
footer .footer {
  text-align: center;
  color: white;
}
